$github-nav: #161b22
$github-nav-text: #f0f6fc
$github-body: #0d1117
$github-body-text: #8b949e

$icon-github: #161b22
$icon-linkedin: #0a66c2
$icon-mail: #77dd77

$bg-portfolio: #f8f8f8

$nav-height: 3.34375rem
$section-width: 50rem

html
	font-size: 100%

body
	margin: 0
	font-family: Roboto

a:link, a:visited
	text-decoration: none

ul
	padding: 0

%white-shadow
	color: white
	filter: drop-shadow(0 0 0.1rem black)

nav
	position: fixed
	height: $nav-height
	width: 100%
	font-weight: 600
	transition: 0.2s
	z-index: 2

	&.hide
		opacity: 0

	&.background
		background-color: $github-nav

	ul
		list-style: none
		margin: 0
		text-align: center
		white-space: nowrap

		li
			display: inline-block
			padding: 1rem 0

			a
				@extend %white-shadow

				padding: 1rem 1rem
				transition: color 0.2s

				&.active
					color: orange

				&:hover
					cursor: pointer

#nav-background
	position: sticky
	top: 0
	height: $nav-height
	width: 100%
	margin-bottom: -$nav-height
	background-color: $github-nav
	z-index: 1

section
	display: flex
	flex-direction: column
	align-items: center
	text-align: center

	.content
		$margin: 1rem
		width: calc(100% - 2 * #{$margin})
		max-width: $section-width

	.section-name
		margin-block-start: 0
		padding-top: 5rem
		color: orange

#home
	height: 100vh
	min-height: Max(55vw, 25rem)

	> div
		flex: 1

	#rain-image, #rain-video
		position: absolute

		object-fit: cover
		object-position: 50% 0% // show the center of the background video (rain part)

		width: 100%
		height: 100vh
		min-height: inherit

	#rain-image
		z-index: -2

	#rain-video
		position: fixed
		z-index: -1

	.content
		@extend %white-shadow

		display: flex
		flex-direction: column
		justify-content: center

		padding: 5rem 0
		margin: auto
		font-weight: 600

		#name, #roles
			margin: 0

		#name
			font-size: 3rem

		#roles
			margin-bottom: 0.25rem
			font-size: 0.9rem

		#urls
			font-size: 3rem

			> *
				color: inherit
				margin: 0 0.5rem

				svg, path
					color: inherit
					transition: color 0.05s

				&#icon-github:hover
					color: $icon-github

				&#icon-linkedin:hover
					color: $icon-linkedin

				&#icon-mail:hover
					color: $icon-mail

		#wip
			font-size: 1.25rem

			*
				margin: 0 0.25rem

#about, #resume
	font-weight: 400

#about
	background-color: $github-body
	color: lighten($github-body-text, 10)

	a, h2, h3
		@extend %white-shadow

	p
		text-align: left

	#about-introduction span
		color: lighten($github-body-text, 20)

	#about-info
		margin-bottom: 5rem

		div
			text-align: left

#portfolio
	min-height: 100vh
	background-color: $bg-portfolio

	a
		color: orange

	#projects
		display: grid
		grid-template-columns: repeat(1, 1fr)
		grid-gap: 1.5rem
		margin: 2rem 0
		text-align: left

		.project
			aspect-ratio: 1
			display: flex
			align-items: center
			justify-content: center
			border-radius: 0.5rem
			overflow: hidden
			box-shadow: 0.2rem 0.2rem 0.5rem transparentize(black, 0.75)
			opacity: 0
			transform: translateX(-5rem)
			transition: 1s

			&.fadein
				opacity: 1
				transform: none

			h1
				margin-block-start: 0

			img
				width: 100%

@media(min-width: 30rem)
	#portfolio #projects
		grid-template-columns: repeat(2, 1fr)

@media(min-width: $section-width)
	#portfolio #projects
		grid-template-columns: repeat(3, 1fr)

@media(min-width: 60vh) // desktop proportions
	#home #rain-image, #home #rain-video
		object-position: 0% 100% // always show the left side of the background video

	#about #about-info
		display: flex
		gap: 2.5rem

		div
			flex: 1
